.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &.show-mask {
        .modal-mask {
            display: block;
        }
    }
    .modal-mask,
    .modal-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .modal-mask {
        display: none;
        overflow: hidden;
        background-color: #25262d;
        opacity: 0.4;
        //    pointer-events: auto;
    }

    .modal-container {
        //transform: translate(100%, 100%);
    }

    .modal-center {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-dynamic {
        }

        .modal-main {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 0;
            text-align: center;
            overflow: hidden;
            background-color: #fff;
            position: relative;

            .modal-right-bottom {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0.426667rem;
                height: 0.426667rem;
                background-color: transparent;
                z-index: 1;
                &:hover {
                    cursor: nwse-resize;
                }
            }
            .modal-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                padding: 0 0.5rem;
                border-bottom: 1px solid #e5e5e5;
                height: 40px;
                &:hover {
                    cursor: move;
                }
                .modal-title {
                    color: #333;
                    font-size: 0.426667rem;
                    font-weight: bold;
                }
            }

            .modal-alert {
                position: relative;
                overflow: hidden;
                height: 100%;
                box-sizing: border-box;
                padding: 0.426667rem 0.426667rem;
                .modal-detail-content {
                    text-align: left;
                    color: #666;
                    font-size: 0.373333rem;
                    line-height: 0.586667rem;
                    height: 100%;

                    .modal-details {
                        // padding: 0 0.426667rem;
                        height: 100%;

                        .modal-tab {
                            height: 100%;
                        }
                        .modal-tab
                            ::ng-deep
                            > .ant-tabs-card
                            .ant-tabs-content {
                            height: 100%;
                        }

                        iframe {
                            width: 100%;
                            height: 100%;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
