  .modal {
      position: fixed;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      .modal-center {
          // position: relative;
          display: flex;
          width: 100%;
          height: 100%;

          .modal-main {
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              border: 2px solid rgba(0,0,0,0.3);
              //border-radius: 5px;
              padding: 0;
              text-align: center;
              overflow: hidden;
              background-color: #fff;
              position: relative;

              .modal-right-bottom {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 0.426667rem;
                  height: 0.426667rem;
                  background-color: transparent;
                  z-index: 1;

                  &:hover {
                      cursor: nwse-resize;
                  }
              }

              .modal-top {
                  background-color: rgb(36, 144, 201);
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  text-align: left;
                  padding: 0 0.5rem;
                  border-bottom: 1px solid #e5e5e5;
                  height: 40px;

                   
                  .modal-title {
                      color: #fff;
                      font-size: 0.826667rem;
                      font-weight: bold;
                      cursor: move;
                  }
              }

              .modal-alert {
                  position: relative;
                  overflow: hidden;
                  height: 100%;
                  box-sizing: border-box;
               //   padding-top:   0.426667rem  ;
                  
                  .modal-detail-content {
                    box-sizing: border-box;
                    //padding:  0.426667rem   ;
                    //background-color: rgb(36, 144, 201);
                      text-align: left;
                      color: #666;
                      font-size: 0.373333rem;
                      line-height: 0.586667rem;
                      height: 100%;

                      .modal-details {
                          // padding: 0 0.426667rem;
                          height: 100%;

                          .modal-tab {
                              height: 100%;
                          }

                          .modal-tab ::ng-deep>.ant-tabs-card .ant-tabs-content {
                              height: 100%;
                          }

                          iframe {
                              width: 100%;
                              height: 100%;
                              border: none;
                          }
                      }
                  }
              }
          }
      }

  }
