<div nz-row class="set-id-row">
  <div nz-col [nzSm]="{ span: 6 }" [nzXs]="{ span: 24 }" class="set-id-label">
    产品ID：
  </div>
  <div nz-col [nzSm]="{ span: 14 }" [nzXs]="{ span: 24 }">
    <span style="margin-right: 10px">{{ IdObj.product_id }}</span>
    <button nz-button nzSize="small" (click)="chooseProduct()">选择产品</button>
  </div>
</div>

<!-- <div nz-row class="set-id-row">
  <div nz-col [nzSm]="{ span: 6 }" [nzXs]="{ span: 24 }" class="set-id-label">
    分组ID：
  </div>
  <div nz-col [nzSm]="{ span: 14 }" [nzXs]="{ span: 24 }"  >
    
    <nz-select
      style="width: 100%"
      [(ngModel)]="group_id"
      (ngModelChange)="chooseGroup()"
      [nzOptions]="listOfOption"
    >
    </nz-select>
  </div>
</div> -->
