

:host{
  height: 100%;
}

.container {
  height: 100%;
  position: relative;

  .gps-picker{
    min-height: 400px;
    height: 100%;
  }

  .center {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}

