<app-page-list noCreate (refresh)="load()" (search)="search($event)" [loading]="loading">

  <nz-table
    nzSize="small"
    [nzData]="datum"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"

    (nzQueryParams)="onQuery($event)"
  >
    <thead>
    <tr>
      <th nzColumnKey="event" [nzSortFn]="true">事件</th>
      <th nzColumnKey="created" [nzSortFn]="true">时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datum; let i=index">
      <td>{{ data.event }}</td>
      <td [title]="data.created|dateString">{{data.created | fromNow}}</td>
    </tr>
    </tbody>
  </nz-table>


</app-page-list>
