
.toolbar {
    padding: 10px 0;
    display: flex;

    .fill {
        flex: 1;
    }
}


.pages {
    //background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
