<app-page-list (create)="create()" (refresh)="load()" (search)="search($event)" [loading]="loading">

  <nz-table
    nzSize="small"
        [nzData]="datum"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"

    (nzQueryParams)="onQuery($event)"
  >
    <thead>
    <tr>
      <th nzColumnKey="name" [nzSortFn]="true">名称</th>
      <th nzColumnKey="id" [nzSortFn]="true">创建时间</th>
      <th>状态</th>
      <th nzColumnKey="disabled" [nzSortFn]="true">禁用</th>
      <th nzWidth="100">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datum; let i=index" (dblclick)="open(data)">
      <td>{{ data.name }}</td>
      <td>
        <a [routerLink]="'/admin/company/detail/'+data.company_id">{{data.company?.name}}</a>
        <a [routerLink]="'/admin/group/detail/'+data.group_id">{{data.group?.name}}</a>
      </td>
      <td [title]="data.created|dateString">{{data.created | fromNow}}</td>
      <td>
        <span *ngIf="data.running">
          {{data.closed?'关闭':'启动'}} {{data.error}}
        </span>
        <span *ngIf="!data.running">离线</span>
      </td>
      <td>
        <nz-switch [(ngModel)]="data.disabled" nzSize="small" (ngModelChange)="onEnableChange(data, $event)"></nz-switch>
      </td>
      <td>
        <a [routerLink]="'/admin/project/detail/'+data.id">详情</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a [routerLink]="'/admin/project/edit/'+data.id">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
          更多
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item nzDanger nz-popconfirm nzPopconfirmTitle="确定删除？" (nzOnConfirm)="remove(data, i)">删除</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    </tbody>
  </nz-table>


</app-page-list>
