:host {
  display: flex;
}

.install {
  height: 100vh;

  .header{
    padding: 20px;
  }

  .content{
    overflow: auto;
    display: flex;
    justify-content: center;
    padding: 15px;

    .inner {
      padding: 10px;
      width: 80%;
      //height: auto;
      overflow: auto;
      background-color: #1f1f1f;
    }
  }

  .footer{
    display: flex;
    justify-content: right;

    >*{
      margin: 5px 15px;
    }
  }
}
