.fileButton {
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}