:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888888;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-position: center;
}

.inner {
    width: 60%;
    //min-height: 300px;
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    //margin-top: 20vh;


}
