<app-page-list noCreate (refresh)="load()" (search)="search($event)" [loading]="loading">

  <nz-table
    nzSize="small"
    [nzData]="datum"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"

    (nzQueryParams)="onQuery($event)"
  >
    <thead>
    <tr>
      <th>项目</th>
      <th>设备</th>
      <th>名称</th>
      <th>内容</th>
      <th nzColumnKey="created" [nzSortFn]="true">时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datum; let i=index">
      <td>
        <a [routerLink]="'/admin/project/detail/'+data.project_id">{{data.project?.name}}</a>
      </td>
      <td>
        <a [routerLink]="'/admin/device/detail/'+data.device_id">{{data.device?.name}}</a>
      </td>
      <td>{{ data.name }}</td>
      <td>{{ data.content }}</td>
      <td [title]="data.created|dateString">{{data.created | fromNow}}</td>
    </tr>
    </tbody>
  </nz-table>


</app-page-list>
