<!--<input type="text" nz-input [(ngModel)]="val" (click)="isVisible=true" [nzSize]="nzSize"/>-->
<textarea nz-input [(ngModel)]="val" (click)="isVisible=true" [nzSize]="nzSize"></textarea>
<nz-modal [(nzVisible)]="isVisible" nzTitle="参数" (nzOnCancel)="isVisible=false" (nzOnOk)="isVisible=false" [nzFooter]="null">
  <div *nzModalContent>
    <ngx-codemirror [(ngModel)]="val"
                    [options]="{lineNumbers: true,theme: 'material',mode: 'yaml'  }"></ngx-codemirror>
  </div>
</nz-modal>
