:host{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;

  //background-image: url("../../assets/bk.jpg");
  //background-image: url(/assets/bk.jpg);
  background-size: cover;
  background-position: center;
}

.login{
  margin-top: 100px;
  width: 300px;
  max-width: 400px;

  >h1{
    color: white;
    text-align: center;
  }
}

.login-form {
  //background-color: white;
  padding: 50px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
