<nz-table nzTemplateMode [nzFrontPagination]="false" [formGroup]="group"
    [nzShowPagination]="false">
    <thead>
        <tr>
            <th>名称（ID）</th>
            <th>显示</th>
            <th>类型</th>
            <th>单位</th>
            <th>模式</th>
            <th></th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)" formGroupName="properties">
        <tr *ngFor="let item of group.get('properties').controls; let i=index;" [formGroupName]="i" cdkDrag>
            <td>
                <input nz-input formControlName="name" />
            </td>
            <td>
                <input nz-input formControlName="label" />
            </td>
            <td>
                <nz-select formControlName="type">
                    <nz-option nzValue="int" nzLabel="整数"></nz-option>
                    <nz-option nzValue="float" nzLabel="浮点数"></nz-option>
                    <nz-option nzValue="bool" nzLabel="布尔型"></nz-option>
                    <nz-option nzValue="text" nzLabel="文本"></nz-option>
                    <nz-option nzValue="enum" nzLabel="枚举" nzDisabled></nz-option>
                    <nz-option nzValue="array" nzLabel="数组" nzDisabled></nz-option>
                    <nz-option nzValue="object" nzLabel="对象" nzDisabled></nz-option>
                </nz-select>
            </td>
            <td>
                <input nz-input formControlName="unit">
            </td>
            <td>
                <nz-select formControlName="mode">
                    <nz-option nzValue="r" nzLabel="只读"></nz-option>
                    <nz-option nzValue="rw" nzLabel="读写"></nz-option>
                </nz-select>
            </td>
            <td class="td-oper">
                <span nz-icon nzType="drag" nzTheme="outline" title="移动当前行" style="cursor:move;" cdkDragHandle></span>
                <span nz-icon nzType="copy" nzTheme="outline" title="复制当前行" (click)="handleCopyProperTy(i)"></span>
                <span nz-icon nzType="delete" nzTheme="outline" title="删除" (click)="propertyDel(i)"></span>
            </td>
        </tr>
    </tbody>
</nz-table>