/* You can add global styles to this file, and also import other style files */

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

/* 让代码编辑器高度自适应 */
.CodeMirror{
  /*min-height: 400px; 最小高度会出问题 */
  height: auto;
}

.p1{
  padding: 1px !important;
}

.p2{
  padding: 2px !important;
}

