.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 32px;
    border-radius: 3px;
    a {
      color: white;
      margin-left: 5px;  
      font-size: 14px;
    }
  }