<app-editor [(ngModel)]="data" (ngModelChange)="basicForm.patchValue($event)" [submitting]="submitting" (submit)="submit()">

  <nz-collapse [formGroup]="basicForm" (change)="change()">
    <nz-collapse-panel nzHeader="基本信息" nzActive>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">组态</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-hmi formControlName="hmi" [showClear]="true"></app-choose-hmi>
        </nz-form-control>
      </nz-form-item>

    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="初始设备" nzActive>
      <app-edit-elements formControlName="elements"></app-edit-elements>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="上下文" nzActive>
      <app-yaml-editor formControlName="context"></app-yaml-editor>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="数据检查" nzActive>
      <app-edit-alarms formControlName="alarms"></app-edit-alarms>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="定时任务" nzActive>
      <app-edit-jobs formControlName="jobs"></app-edit-jobs>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="控制策略" nzActive>
      <app-edit-strategies formControlName="strategies"></app-edit-strategies>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="聚合计算" nzActive>
      <app-edit-aggregators formControlName="aggregators"></app-edit-aggregators>
    </nz-collapse-panel>

  </nz-collapse>


</app-editor>
