<app-editor [(ngModel)]="data" (ngModelChange)="basicForm.patchValue($event)" [submitting]="submitting" (submit)="submit()">

  <nz-collapse [formGroup]="basicForm" (change)="change()">
    <nz-collapse-panel nzHeader="基本信息" nzActive>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="初始设备" nzActive>
      <app-edit-elements formControlName="elements"></app-edit-elements>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="参数变量" nzActive>
      <app-yaml-editor formControlName="variables"></app-yaml-editor>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="控制命令" nzActive>
      <app-edit-commands formControlName="commands"></app-edit-commands>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="控制策略" nzActive>
      <app-edit-strategies formControlName="strategies"></app-edit-strategies>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="定时任务" nzActive>
      <app-edit-jobs formControlName="jobs"></app-edit-jobs>
    </nz-collapse-panel>

  </nz-collapse>


</app-editor>
