<app-editor [(ngModel)]="data" (ngModelChange)="basicForm.patchValue($event)" [submitting]="submitting" (submit)="submit()">

  <nz-collapse [formGroup]="basicForm" (change)="change()">
    <nz-collapse-panel nzHeader="基本信息" nzActive>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="参数变量">
      <app-project-edit-variables formControlName="variables"></app-project-edit-variables>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="初始设备">
      <app-template-edit-devices formControlName="devices"></app-template-edit-devices>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="控制命令">
      <app-project-edit-commands formControlName="commands"></app-project-edit-commands>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="控制策略">
      <app-project-edit-strategies formControlName="strategies"></app-project-edit-strategies>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="合法检查">
      <app-project-edit-validators formControlName="validators"></app-project-edit-validators>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="自动脚本">
      <app-project-edit-scripts formControlName="scripts"></app-project-edit-scripts>
    </nz-collapse-panel>

  </nz-collapse>


</app-editor>
