<nz-space>
    <button *nzSpaceItem
        nz-button
        nzType="primary"
        (click)="add.emit()">
        <i nz-icon
            nzType="plus"></i>
        新增
    </button>

    <button nz-button
        nzType="primary"
        *nzSpaceItem
        class="btn">
        <span nz-icon
            nzType="cloud-download"
            nzTheme="outline"></span>
        <a download="filename"
            [href]="downloadApi"
            styl>导出</a>
    </button>

    <nz-upload [nzAction]="uploadApi"
        *nzSpaceItem
        [nzShowUploadList]="false"
        (nzChange)="handleUpload($event)">
        <button nz-button
            nzType="primary">
            <span nz-icon
                nzType="cloud-upload"></span>
            导入
        </button>
    </nz-upload>
</nz-space>
