
<form nz-form [formGroup]="group" (ngSubmit)="submit()">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="name">名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="name"/>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc">说明</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="desc"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="area_id"
      >区域ID</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <nz-select formControlName="area_id" [nzOptions]="areaID">
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <nz-select formControlName="type">
        <nz-option nzValue="gateway" nzLabel="网关"></nz-option>
        <nz-option nzValue="device" nzLabel="设备"></nz-option>
        <nz-option nzValue="subset" nzLabel="子设备"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item> -->
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="ref.close()">取消</button>
  <button nz-button nzType="primary" (click)="submit()">提交</button>
</div>
