<app-toolbar>
  <nz-space>
    <button nz-button nzType="primary" *nzSpaceItem class="btn">
      <span nz-icon nzType="cloud-download" nzTheme="outline"></span>
      <a (click)="handleExport()" download="filename" [href]="href">导出</a>
    </button>

    <app-import *nzSpaceItem [url]="'plugin/export'"></app-import>
  </nz-space>
</app-toolbar>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let item of list">{{item}}</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.desc }}</td>
        <td>{{ data.action }}</td>
      </tr>
    </tbody>
  </nz-table>