<app-toolbar>
  <nz-space>
    <a *nzSpaceItem download="filename" class="fileButton" href="/api/backup/export">
      <i nz-icon nzType="cloud-download"></i>
      导出
    </a>
    <app-import *nzSpaceItem url="/api/backup/import"></app-import>
  </nz-space>
</app-toolbar>

<!-- <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let item of list">{{item}}</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.desc }}</td>
        <td>{{ data.action }}</td>
      </tr>
    </tbody>
  </nz-table> -->