<app-toolbar>
    <app-batch-btn uploadApi="/api/backup/import"
        downloadApi="/api/backup/export"
        [showAddBtn]="false"
        [showBatchDelBtn]="false"></app-batch-btn>
</app-toolbar>

<!-- <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let item of list">{{item}}</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.desc }}</td>
        <td>{{ data.action }}</td>
      </tr>
    </tbody>
  </nz-table> -->
