<app-editor [(ngModel)]="data" (ngModelChange)="basicForm.patchValue($event)" [submitting]="submitting" (submit)="submit()">

  <nz-collapse [formGroup]="basicForm" (change)="change()">
    <nz-collapse-panel nzHeader="基本信息" nzActive>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">元件</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-element formControlName="element_id"></app-choose-element>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">连接</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-link formControlName="link_id"></app-choose-link>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">标签</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-select nzAllowClear nzMode="tags" [nzTokenSeparators]="[',', '，', ';', ' ']" formControlName="tags"
                     nzSize="small" (ngModelChange)="change()"></nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">图标</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="icon"/>
        </nz-form-control>
      </nz-form-item>



      <nz-form-item>
        <nz-form-label [nzSpan]="5">从站号</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-input-number formControlName="station" [nzMin]="1" [nzMax]="65535" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">禁用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-switch formControlName="disabled"></nz-switch>
        </nz-form-control>
      </nz-form-item>

    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="变量" nzActive>
      <app-yaml-editor formControlName="context"></app-yaml-editor>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="数据点" nzActive>
      <app-edit-points formControlName="points"></app-edit-points>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="定时采集" nzActive>
      <app-edit-pollers formControlName="collectors"></app-edit-pollers>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="数值计算" nzActive>
      <app-edit-calculators formControlName="calculators"></app-edit-calculators>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="控制命令" nzActive>
      <app-edit-commands formControlName="commands"></app-edit-commands>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="数据检查" nzActive>
      <app-edit-alarms formControlName="validators"></app-edit-alarms>
    </nz-collapse-panel>

  </nz-collapse>


</app-editor>
