<app-editor [(ngModel)]="data" (ngModelChange)="basicForm.patchValue($event)" [submitting]="submitting" (submit)="submit()">

  <nz-collapse [formGroup]="basicForm" (change)="change()">
    <nz-collapse-panel nzHeader="基本信息" nzActive>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">产品</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-element formControlName="element_id" [showClear]="true"></app-choose-element>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">通道</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-tunnel formControlName="tunnel_id"></app-choose-tunnel>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!basicForm.value.element_id">
        <nz-form-label [nzSpan]="5">组态</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-hmi formControlName="hmi" [showClear]="true"></app-choose-hmi>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item *ngIf="!basicForm.value.element_id">
        <nz-form-label [nzSpan]="5">标签</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-select nzAllowClear nzMode="tags" [nzTokenSeparators]="[',', '，', ';', ' ']" formControlName="tags"
                     nzSize="small" (ngModelChange)="change()"></nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">从站号</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-input-number formControlName="station" [nzMin]="1" [nzMax]="65535" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">禁用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-switch formControlName="disabled"></nz-switch>
        </nz-form-control>
      </nz-form-item>

    </nz-collapse-panel>

    <ng-container *ngIf="!basicForm.value.element_id">

      <nz-collapse-panel nzHeader="数据点" nzActive>
        <app-edit-points formControlName="points"></app-edit-points>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="定时采集" nzActive>
        <app-edit-pollers formControlName="pollers"></app-edit-pollers>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="公式计算" nzActive>
        <app-edit-calculators formControlName="calculators"></app-edit-calculators>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="控制命令" nzActive>
        <app-edit-commands formControlName="commands"></app-edit-commands>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="数据检查" nzActive>
        <app-edit-alarms formControlName="alarms"></app-edit-alarms>
      </nz-collapse-panel>

    </ng-container>

  </nz-collapse>


</app-editor>
