 .card {
     box-sizing: border-box;
     padding: 10px 20px;
     width: 100%;

     .card-item {
         box-sizing: border-box;
         padding: 5px;

         &:hover {
             cursor: pointer;
         }
     }
 }
