<nz-card nzTitle="空间详情" [nzExtra]="extra">
    <smart-info [fields]="fields" [value]="data"></smart-info>

    <nz-tabset>
        <nz-tab nzTitle="空间设备">
            <ng-template nz-tab>
                <app-space-device [space_id]="id" [project_id]="data.project_id"></app-space-device>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="报警日志">
            <ng-template nz-tab>

            </ng-template>
        </nz-tab>
    </nz-tabset>

</nz-card>
<ng-template #extra>
    <nz-space>
        <button *nzSpaceItem nz-button routerLink="edit">编辑</button>
        <button *nzSpaceItem nz-button nz-popconfirm nzPopconfirmTitle="确认删除" (nzOnConfirm)="delete()">删除</button>
    </nz-space>
</ng-template>
