nz-header {
    display: flex;
    overflow: hidden;
    color: white;
    padding: 0 10px;
}

.logo {
    img {
        //width: 36px;
        height: 50px;
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
}

.space {
    flex: 1;
}

.nav2 {
    font-weight: bold;
    font-size: 16px;

    a {
        span {
            font-size: 1.5em;
            margin: 0 4px;
        }

        display: flex;
        align-items: center;
    }
}

nz-sider {
    overflow-y: auto;
}


.menu {
    user-select: none;
}

.content {
    padding: 10px;
    min-height: 400px;
    overflow: auto;
}
