 .card {
     width: 100%;
     box-sizing: border-box;
     padding: 10px 20px;

     .card-item {
         box-sizing: border-box;
         padding: 5px;

         &:hover {
             cursor: pointer;
         }
     }
 }
