.card {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 264px;
    background-color: white;
    .card-img {
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    }
    .card-inf {
        box-sizing: border-box;
        padding: 5px 10px;
        color: gray;
    }
}
