<app-page-list noCreate (refresh)="load()" (search)="search($event)" [loading]="loading">

  <nz-table
    nzSize="small"
        [nzData]="datum"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"

    (nzQueryParams)="onQuery($event)"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  >
    <thead>
    <tr>
      <th [nzShowCheckbox]="multiple" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>
      <th nzColumnKey="acceptor_id" [nzSortFn]="true">通道</th>
      <th nzColumnKey="name" [nzSortFn]="true">名称</th>
      <th nzColumnKey="sn" [nzSortFn]="true">SN</th>
      <th nzColumnKey="remote">远程地址</th>
      <th nzColumnKey="_id" [nzSortFn]="true">创建时间</th>
      <th nzColumnKey="last" [nzSortFn]="true">最近上线</th>
      <th>状态</th>
      <th nzColumnKey="disabled" [nzSortFn]="true">禁用</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datum; let i=index" (click)="onItemClick(data)">
      <td [nzChecked]="setCheckedOfId.has(data._id)" [nzDisabled]="!data.disabled"
          (nzCheckedChange)="onItemChecked(data._id, $event)"
      ></td>
      <td>{{ data.tunnel?.name }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.sn }}</td>
      <td>{{ data.remote }}</td>
      <td>{{data.created | fromNow}}</td>
      <td>{{data.last | date:'short'}}</td>
      <td>{{data.online ? '在线' : '离线'}}</td>
      <td>{{data.disabled ? '√' : '×'}}</td>
    </tr>
    </tbody>
  </nz-table>

  <div *ngIf="multiple && setCheckedOfId.size">
    已经选择了 {{ setCheckedOfId.size }} 项
  </div>


</app-page-list>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">取消</button>
  <button nz-button nzType="primary" (click)="ok()">确定</button>
</div>
