<button nz-button nzType="primary" (click)="load()">刷新</button>
<button nz-button nzType="primary" (click)="active()">在线激活</button>

<nz-list nzBordered *ngIf="license">
  <nz-list-item><span>用户</span>{{license.user}}</nz-list-item>
  <nz-list-item><span>UUID</span>{{license.UUID}}</nz-list-item>
  <nz-list-item><span>SN</span>{{license.SN}}</nz-list-item>
  <nz-list-item><span>CPUID</span>{{license.CPUID}}</nz-list-item>
  <nz-list-item><span>MAC</span>{{license.MAC}}</nz-list-item>
  <nz-list-item><span>失效期</span>{{license.expireAt | dateString}}</nz-list-item>
</nz-list>
